<div class="hero">
  <h1 class="hero-title">Sign up today and get started trading your plunder!</h1>

  <div id="people"></div>

  <%= form_tag("/search", class: "flexi-c r", id: "search") do %>
    <input class="flexi-i search-field" type="search" name="search" placeholder="Search..."></input>
    <input class="flexi-i search-submit" type="submit"></input>
  <% end %>
</div>

<h1 class="section-title">collections</h1>

<div class="cards">
  <% @collections.each do |c| %>
    <div class="card">
      <%= card_image(collection_path(c), c.image.url) %>
      <%= link_to c.name, collection_path(c), class: "card-title" %>
    </div>
  <% end %>
</div>