<h1><%= @badge.name %></h1>

<ul>
  <h3>wishers</h3>

  <% @badge.wishers.where.not(id: current_user&.id).each do |u| %>
    <li><%= link_to u.username, user_path(u) %></li>
  <% end %>
</ul>

<ul>
  <h3>owners</h3>

  <% @badge.users.where.not(id: current_user&.id).each do |u| %>
    <li><%= link_to u.username, user_path(u) %></li>
  <% end %>
</ul>
