<%= form_tag("/login", method: "POST") do %>
  <h3>Sign in</h3>
  
  <input type="email" name="email" placeholder="abc@123.com"></input>
  <input type="password" name="password" placeholder="password"></input>

  <input type="submit"></input>
<% end %>