<h1>Me! <%= current_user.username %></h1>

<ul>
  <h3>Trades</h3>
  
  <% @trades.each do |t| %>
    <li><%= link_to (t.a == current_user ? t.b.username : t.a.username), trade_path(t) %></li>
  <% end %>
</ul>