// Place all the styles related to the trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trade-statuses {
  .trade-status-group {
    margin-bottom: 60px;

    &:after {
      content: "";
      position: absolute;
      bottom: -60px;
      left: calc(50% - 2px);
      width: 4px;
      height: 60px;
      background-color: lavender;
    }

    .trade-status {
      margin-bottom: 10px;

      .trade-status-mark {
        flex: 0 0 42px;
        height: 42px;
        border-radius: 50%;
        background: image-url("green-check.svg") no-repeat center, #2ecc71;
        background-size: 20px;
      }
      .trade-status-label {
        padding: 8px 10px 4px 10px;

        .trade-label-text {
          font: 900 14px/16px sans-serif;
        }
        .trade-label-timestamp {
          font: 400 12px/14px sans-serif;
        }
      }
    }
    .trade-status-incomplete {
      color: gray;

      .trade-status-mark {
        background: image-url("x.svg") no-repeat center, lightgray;
        background-size: 20px;
      }
    }
  }

  .status-mark {
    width: 100%;
    height: 80px;
    top: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: lavender;

    > * {
      text-align: center;
      border-radius: 5px;
      font: 900 24px/60px sans-serif;
      background: lightgray;
      color: gray;
      cursor: pointer;
    }

    .mark-accept {
      background: #2ecc71;
      color: #27ae60;
    }
    .mark-sent {
      background: #2ecc71;
      color: #27ae60;
    }
    .mark-recieved {
      background: #2ecc71;
      color: #27ae60;
    }
  }
}

.send-to {
  font: 600 18px/24px sans-serif;
}

.trade-add {
  position: absolute;
  top: -8px;
  left: -2px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid gray;
  opacity: 0;
}
.trade-subtract {
  position: absolute;
  bottom: -8px;
  left: -2px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid gray;
  opacity: 0;
}
.trade-add:hover, .trade-subtract:hover {
  opacity: 1;
}