<div class="trade-statuses">
  <div class="trade-status-group">
    <div class="flexi-c r trade-status">
      <div class="trade-status-mark"></div>
      <div class="trade-status-label">
        <p class="trade-label-text">Hijinks Accepted the trade</p>
        <p class="trade-label-timestamp">timestamp</p>
      </div>
    </div>

    <div class="flexi-c r trade-status">
      <div class="trade-status-mark"></div>
      <div class="trade-status-label">
        <p class="trade-label-text">Hijinks Accepted the trade</p>
        <p class="trade-label-timestamp">timestamp</p>
      </div>
    </div>
  </div>

  <div class="trade-status-group">
    <div class="flexi-c r trade-status">
      <div class="trade-status-mark"></div>
      <div class="trade-status-label">
        <p class="trade-label-text">Hijinks Sent items</p>
        <p class="trade-label-timestamp">timestamp</p>
      </div>
    </div>

    <div class="flexi-c r trade-status">
      <div class="trade-status-mark"></div>
      <div class="trade-status-label">
        <p class="trade-label-text">Hijinks Sent items</p>
        <p class="trade-label-timestamp">timestamp</p>
      </div>
    </div>
  </div>

  <div class="trade-status-group">
    <div class="flexi-c r trade-status">
      <div class="trade-status-mark"></div>
      <div class="trade-status-label">
        <p class="trade-label-text">Hijinks Recieved deliverey</p>
        <p class="trade-label-timestamp">timestamp</p>
      </div>
    </div>

    <div class="flexi-c r trade-status">
      <div class="trade-status-mark"></div>
      <div class="trade-status-label">
        <p class="trade-label-text">Hijinks Recieved deliverey</p>
        <p class="trade-label-timestamp">timestamp</p>
      </div>
    </div>
  </div>

  <div class="status-mark-complete"></div>
</div>